/* 메인 컨테이너: 좌우로 배치 */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px; /* 상하 50px, 좌우 80px 여백 */
    gap: 20px; /* 섹션 간 간격 */
}

/* 왼쪽 섹션 스타일 */
.main-left {
    flex: 3; /* 30% */
    /* text-align: center; */
    z-index: 2; /* 오른쪽 이미지 위로 올라오도록 설정 */
}

.main-logo {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
}

.main-left h1 {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 15px;
    /* justify-content: left; */
}

.main-left p {
    font-size: 56px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.main-button {
    padding: 15px 230px;
    font-size: 50px;
    /* font-weight: bold; */
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.main-button:hover {
    background-color: #ff0044;
}

/* 오른쪽 섹션 스타일 */
.main-right {
    flex: 6; /* 70% */
    position: relative;
    display: flex; /* Flexbox 적용 */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.main-image {
    width: 72%; 
    max-width: none; 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1; /* 왼쪽 콘텐츠 아래에 위치 */
}
